.app {
  width: 100%;
}

.title{
  text-align: left;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choosing{
  display: flex;
  flex-direction: column;
}

.structure{
  display: flex;
  flex-direction: column;
}

