.app {
  width: 100%;
  margin-bottom: 50px;
}

.title{
  text-align: left;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choosing{
  display: flex;
  flex-direction: column;
}

.structure{
  display: flex;
  flex-direction: column;
}

.sign_in_container{
  align-items: center;
}

.sign_in{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign_in_form{
  display: flex;
  flex-direction: column;
}
.not_found{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}