.header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    width: 100%;
}
.left{
    display: inline-flex;
    flex: 1;
    justify-content: center;
}
.buttons{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    flex: 1;
    justify-content: center;
}
.link {
    display: flex;
    text-decoration: none;
    color: var(--text-inactive-color);
}

.link_active {
    color: var(--text-primary-color);
}
